@import "./variables.scss";

.gif-wrapper {
  position: relative;

  .fav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba($clr-dark, 0.85);

    button {
      padding: 0.25rem 0.5rem;
    }
  }
}
