@import "./variables.scss";

/* Positions Grid for Favorites page */
#favs-wrapper {
  #gif-section {
    margin-top: $nav-ht;
  }
}

/* Page title and No results found message */
.title {
  color: $clr-medium;
  padding-bottom: 0.25rem;
  font-size: 2rem;
}

/* Grid positioning and setup */
#gif-section {
  margin-top: calc(#{$hdr-ht} + #{$nav-ht});
  padding: 2rem;
  width: 100vw;
  z-index: 1;
  animation: fadeIn 1.25s ease 1 forwards;

  .gif-section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{$widthGIF}, 1fr));
    grid-gap: 0.5rem;
  }

  /* Load More button */
  .load {
    display: flex;
    justify-content: center;
    margin: 2rem 0 2rem 0;

    & button {
      outline: none;
      width: 40vw;
      padding: 0.5rem 0;
      font-size: 0.85rem;
      color: rgba($clr-medium, 0.65);
      padding: 0.5rem 1.5rem;
      border-radius: 2rem;
      border: 2px solid rgba($clr-medium, 0.25);
      transition-duration: 0.5s;

      &:hover {
        cursor: pointer;
        background-color: rgba($clr-medium, 0.25);
      }

      &:active {
        color: #fff;
        background-color: rgba($clr-medium, 1);
      }
    }
  }
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
