@import "./variables.scss";

/* Setup for Search page and initial positioning of header */
#search-wrapper {
  display: flex;
  justify-content: center;

  header {
    width: 100vw;
    top: -$hdr-ht;
  }
}
