/* Colors */
$clr-primary: rgb(255, 120, 120);
$clr-primary-dark: rgb(211, 100, 100);
$clr-dark: rgb(36, 18, 18);
$clr-medium: rgb(70, 70, 70);
$clr-lt-medium: #998b85;

/* Header Height */
$hdr-ht: 6rem;

/* Navigation Height */
$nav-ht: 1.5rem;
